<div id="list_display" class='recordsData' task="can_view_database_list_document_category">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_document_category'><span type="form" name="document_category:id" href="lists?type=document_category&amp;id=" >Update this Information </span></li>
			<li><a href="lists?type=document_category">Select another Document Category</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">document_category</th>
		</tr>
		<span type="form" name="document_category:name" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
