<tbody id="person_form">
<tr>
    <th>Training Information</th>
    <th>Degree Information</th>
</tr>
<tr>
	<td>
		<span type="form" name="nepal_training:country" showhead="default"></span>
		<span type="form" name="nepal_training:institution" showhead="default"></span>
		<span type="form" name="nepal_training:location" showhead="default"></span>
		<span type="form" name="nepal_training:location_other" showhead="default"></span>
		<!-- <span type="form" name="nepal_training:year" showhead="default"></span> -->
	</td><td>
		<span type="form" name="nepal_training:degree" showhead="default">
		</span>
		<span type="form" name="nepal_training:started_date" showhead="default">
		</span>
		<span type="form" name="nepal_training:completed_date" showhead="default">
		</span>
		<span type="form" name="nepal_training:major" showhead="default"></span>
		<span type="form" name="nepal_training:minor" showhead="default"></span>
    </td>
</tr>
</tbody>