<div task='person_can_view_child_form_nepal_training'>
	<div class="editRecord">
		<p>Edit This Information</p>
		<ul>
			<li task='person_can_edit_child_form_nepal_training'>
			<span type="form" ifset="nepal_training:id" name="nepal_training:id" href="nepal_training?id=" parent="true">
				Update this Information
			</span>
			</li>
		</ul>
	</div> <!-- editRecord -->

	<div class="dataTable">
		<table border="0" cellspacing="0" cellpadding="0">
		<tr>
		    <th colspan="2">Training Information</th>
		</tr>
		<span type="form" name="nepal_training:country" showhead="default" class="even"></span>
		<span type="form" name="nepal_training:institution" showhead="default"></span>
		<span type="form" name="nepal_training:location" showhead="default"></span>
		<span type="form" name="nepal_training:country_other" showhead="default" class="even"></span>
		<!-- <span type="form" name="nepal_training:year" showhead="default"></span> -->
		<tr>
		    <th colspan="2">Degree Information</th>
		</tr>
		<span type="form" name="nepal_training:degree" showhead="default"></span>
		<span type="form" name="nepal_training:started_date" showhead="default" class="even"></span>
		<span type="form" name="nepal_training:completed_date" showhead="default"></span>
		<span type="form" name="nepal_training:major" showhead="default" class="even"></span>
		<span type="form" name="nepal_training:minor" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
<!--</div>-->
