<tbody id="person_form">
<tr>
    <th colspan="2">Referred By Information</th>
</tr>
<tr>
	
		<td><span type="form" name="nepal_referred_by:registration_number" showhead="default"></span></td>
		<td><span type="form" name="nepal_referred_by:full_name" showhead="default"></span></td>
		</tr>
		<tr>
		<td><span type="form" name="nepal_referred_by:date" showhead="default"></span></td>
		<td><span type="form" name="nepal_referred_by:location_other" showhead="default"></span></td>
	
</tr>
</tbody>