<div task='person_can_view_child_form_nepal_referred_by'>
	<div class="editRecord">
		<p>Edit This Information</p>
		<ul>
			<li task='person_can_edit_child_form_nepal_referred_by'>
			<span type="form" ifset="nepal_referred_by:id" name="nepal_referred_by:id" href="nepal_referred_by?id=" parent="true">
				Update this Information
			</span>
			</li>
		</ul>
	</div> <!-- editRecord -->

	<div class="dataTable">
		<table border="0" cellspacing="0" cellpadding="0">
		<tr>
		    <th colspan="2">Referred By Information</th>
		</tr>
		<span type="form" name="nepal_referred_by:country" showhead="default" class="even"></span>
		<span type="form" name="nepal_referred_by:institution" showhead="default"></span>
		<span type="form" name="nepal_referred_by:location" showhead="default"></span>
		<span type="form" name="nepal_referred_by:country_other" showhead="default" class="even"></span>
		<!-- <span type="form" name="nepal_referred_by:year" showhead="default"></span> -->
		<tr>
		    <th colspan="2">Degree Information</th>
		</tr>
		<span type="form" name="nepal_referred_by:degree" showhead="default"></span>
		<span type="form" name="nepal_referred_by:started_date" showhead="default" class="even"></span>
		<span type="form" name="nepal_referred_by:completed_date" showhead="default"></span>
		<span type="form" name="nepal_referred_by:major" showhead="default" class="even"></span>
		<span type="form" name="nepal_referred_by:minor" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
<!--</div>-->
