<tbody id="person_form">
	<tr>
		<th>Deployment Information</th>
		<th>Job/Post Information</th>
	</tr>
	<tr id="list_fields">
		<td>
			<span type="form" name="deployment:health_facility" showhead="default"></span>
			<span type="form" name="deployment:deployment_date" showhead="default"></span>
		</td>
		<td>
			<span type="form" name="deployment:job_title" showhead="default"></span>
			<span type="form" name="deployment:job_code" showhead="default"></span>
			<span type="form" name="deployment:address" showhead="default"></span>
		</td>
	</tr>
</tbody>