<div>
	<div class="editRecord">
		<p>Edit This Information</p>
		<ul>
			<li role='manager'><span type="form" name="deployment:id" href="deployment?id=" parent="true">Correct this Information</span></li>
		</ul>
	</div>
	<!-- editRecord -->

	<div class="dataTable">
		<table border="0" cellspacing="0" cellpadding="0">
			<tr>
				<th colspan="2">Deployment</th>
			</tr>
			<span type="form" name="deployment:health_facility" showhead="default"></span>
			<span type="form" name="deployment:deployment_date" showhead="default" class="even"></span>
			<span type="form" name="deployment:job_title" showhead="default"></span>
			<span type="form" name="deployment:job_code" showhead="default" class="even"></span>
			<span type="form" name="deployment:address" showhead="default" class="even"></span>
		</table>
	</div>
	<!-- dataTable -->
</div>