<tbody id="person_form">
<tr>
    <th colspan="2">Personal Contact Information</th>
    <!-- <th>Personal Contact Information</th> -->
</tr>
<tr>
	<td>
		<input type="hidden" name="contact_type" value='personal'/>
	   	<!-- <span type="form" name="person_contact_personal:address" showhead="default"></span> -->
	   	<span type="form" name="person_contact_personal:telephone" showhead="default"></span>
	   	<span type="form" name="person_contact_personal:mobile_phone" showhead="default"></span>
	   	<span type="form" name="person_contact_personal:alt_telephone" showhead="default"></span>
	   	<span type="form" name="person_contact_personal:email" showhead="default"></span>
	</td>
	<!-- <td> -->
	   	<!-- <span type="form" name="person_contact_personal:fax" showhead="default"></span> -->
		<!-- <span type="form" name="person_contact_personal:contact_group" showhead="default"></span> -->
		<!-- <span type="form" name="person_contact_personal:notes" showhead="default"></span> -->
    <!-- </td> -->
</tr>
</tbody>
