<div>
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
      <li task='person_can_edit_child_form_person_contact_emergency'><span type="form" name="person_contact_emergency:id" href="contact?contact_type=emergency&amp;id="  parent="true">Update this Information</span></li>
    </ul>
  </div> <!-- editRecord -->
  
  <div class="dataTable" >
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
	<th colspan="2">Emergency Contact </th>
      </tr>
      <span type="form" name="person_contact_emergency:firstname" showhead="default" mline="true"></span>
      <span type="form" name="person_contact_emergency:middlename" showhead="default" mline="true"></span>
      <span type="form" name="person_contact_emergency:surname" showhead="default" mline="true"></span>
      <!-- <span type="form" name="person_contact_emergency:address" showhead="default" mline="true"></span> -->
      <span type="form" name="person_contact_emergency:telephone" showhead="default" class="even"></span>
      <span type="form" name="person_contact_emergency:mobile_phone" showhead="default" class="even"></span>
      <span type="form" name="person_contact_emergency:alt_telephone" showhead="default"></span>
      <!-- <span type="form" name="person_contact_emergency:fax" showhead="default" class="even"></span> -->
      <span type="form" name="person_contact_emergency:email" showhead="default"></span>
      <span type="form" name="person_contact_emergency:mailing_address" showhead="default"></span>
      
      <!-- <span type="form" name="person_contact_emergency:contact_group" showhead="default"></span>
      <span type="form" name="person_contact_emergency:notes" showhead="default" mline="true" class="even"></span> -->
    </table>
  </div> <!-- dataTable -->
</div>
