<tbody>
    <tr>
        <th>Birth History</th>
        <th>Demographic Information</th>
    </tr>
    <tr id="list_fields">
        <td>
            <span name="demographic:birth_date" showhead="default" type="form"></span>
            <span ifenabled="true" name="NepalDemographic" type="module">
                <span name="demographic:birth_location" showhead="default" type="form"></span>
                <span name="demographic:birth_location_other" showhead="default" type="form"></span>
                <span name="demographic:nationality_at_birth" showhead="default" type="form"></span>
                <!-- <span name="demographic:father_name" showhead="default" type="form"></span>
                <span name="demographic:mother_name" showhead="default" type="form"></span> -->
            </span>
        </td>
        <td>
            <span name="demographic:gender" showhead="default" type="form"></span>
            <span name="demographic:marital_status" showhead="default" type="form"></span>
            <span name="demographic:dependents" showhead="default" type="form"></span>
        </td>
    </tr>
</tbody>