<div id="welcomeIntro">
<img src="file/photos/logged_in_namc-00.png" alt="(photo)" width="400" height="203" />
<h1>Welcome</h1>
<p>
<strong>Nepal Health Workforce Registry (NHWR): Council </strong>  is a system that allows councils to maintain the records of Health workers who gets license from the Council.  
NHWR: Council can be used by Health Professional Councils of Nepal, owned by <a href="http://www.mohp.gov.np/" target="_new">Ministry of Health Website</a>. Developed and implemented with the support of <a href="http://who.int/en/" target="_new">World Health Organization</a>. <br/>
Customized by : <a href="shangrilagroup.com.np">Shangrila Microsystem</a><br/>

</p>
</div>
