<div id="siteContent">
    <h1>Administer Database</h1>

    <h3>License Lists</h3>
    <ul>
    	<li><a href="lists?type=qualification">Qualification</a></li>    	
    	<li><a href="lists?type=cadre">Cadre</a></li>
	<span type='module' name='CEUs' ifenabled='true'>
	  <li><a href="lists?type=continuing_education_course">Continuing Education Course</a></li>
	</span>
    	<li><a href="lists?type=disciplinary_action_category">Disciplinary Action Category</a></li>
    	<li><a href="lists?type=disciplinary_action_reason&amp;field=disciplinary_action_category">Disciplinary Action Reason</a></li>
       	<li><a href="lists?type=out_migration_reason">Out Migration Reason</a></li>
    	<li><a href="lists?type=training_disruption_category">Training Disruption Category</a></li>
    	<li><a href="lists?type=training_disruption_reason&amp;field=training_disruption_category">Training Disruption Reason</a></li>
    </ul>
    <h3>Demographic Lists</h3>
    <ul>
    	<li><a href="lists?type=academic_level">Academic Level</a></li>
    	<li><a href="lists?type=certificate&amp;field=academic_level">Certificate</a></li>
    	<li><a href="lists?type=id_type">Identification Type</a></li>
    	<li><a href="lists?type=contact_group">Contact Group</a></li>
    	<li><a href="lists?type=marital_status">Marital Status</a></li>
    </ul>
    <h3>Geographic Lists</h3>
    <ul>
    	<li><a href="lists?type=country">Country</a></li>
    	<li><a href="lists?type=region&amp;field=country">Region</a></li>
    	<li><a href="lists?type=district&amp;field=region">District</a></li>
    	<li><a href="lists?type=county&amp;field=district">County</a></li>
    </ul>
    <h3>Institution Lists</h3>
    <ul>
    	<li><a href="lists?type=health_facility">Health Facility</a></li>
	<span type='module' name='training-institution' ifenabled='true'>
	  <li><a href="lists?type=training_institution">Training Institution</a></li>
	</span>
    	<li><a href="lists?type=facility_agent">Facility Agent</a></li>
    	<li><a href="lists?type=facility_type">Facility Type</a></li>
    	<li><a href="lists?type=facility_status">Facility Status</a></li>
        <li task='can_edit_database_list_classification'><a href="lists?type=classification">Job Classifications</a></li>
                              
    </ul>

    <div task="can_edit_manage_positions_database_lists">
        <h3>Manage Positions</h3>
        <ul>
            <li  task='can_edit_database_list_salary_source'><a href="lists?type=salary_source">Salary Sources</a></li>
            <li  task='can_edit_database_list_position_type'><a href="lists?type=position_type">Position Types</a></li>
            <li task='can_edit_database_list_position'><a href="lists?type=position&amp;field=facility">Positions (by Facility)</a></li>
            <li task='can_edit_database_list_position'><a href="lists?type=position&amp;field=status&amp;nosetdefault=1">Positions (by Status)</a></li>
            <span type="module" ifenabled="true" name="ihris-manage-confirmation">
                <li  task='can_edit_database_list_confirmation_type'><a href="lists?type=confirmation_type">Confirmation Types</a></li>
            </span>
        </ul>
    </div>

    <span type='module' name='RecordVerify' ifenabled='true'>
		<h3>Administrative Lists</h3>
		<ul>
		  <li><a href="lists?type=verify_change">Record Verification Changes</a></li>
		</ul>
    </span>
	<div task="can_edit_data_provider_database_lists">
        <h3>Data Provider</h3>
        <ul>
            <li task="can_edit_database_list_data_submit_frequency"><a href="lists?type=data_submit_frequency">Data Submit Frequency</a></li>
            <li task="can_edit_database_list_data_provider_type"><a href="lists?type=data_provider_type">Data Provider Type</a></li>
        </ul>
    </div>

<h2>Administer Other Lists</h2>
    <div task="can_edit_organization_database_lists">
        <h3>Organization Lists</h3>
        <ul>
            <li task='can_edit_database_list_facility_type'><a href="lists?type=facility_type">Facility Type</a></li>
            <li task='can_edit_database_list_facility'><a href="lists?type=facility&amp;field=location">Office/Facility</a></li>
            <li task='can_edit_database_list_department'><a href="lists?type=department">Department</a></li>
            <span type="module" ifenabled="true" name="ManageRegistration">
                <li task='can_edit_database_list_council'><a href="lists?type=council">Registration Councils</a></li>
            </span>
            <span type="module" ifenabled="true" name="NepalOwnershipType">
                <li task='can_edit_database_list_ownership_type'><a href="lists?type=ownership_type">Ownership Type</a></li>
            </span>
            <span type="module" ifenabled="true" name="NepalInstitution">
                <li task='can_edit_database_list_institution'><a href="lists?type=institution">Institutions</a></li>
            </span>

            <span type='module' ifenabled='true' name='NepalEmploymentStatus'>
                <li task='can_edit_database_list_employment_status'><a href="lists?type=employment_status">Employment Status</a></li>
            </span>
        </ul>
    </div>
    
</div>
