<div id="siteContent">
	<h1>View Person: <span type="form" name="person:surname" />, <span type="form" name="person:firstname" /></h1>
	<div id='external_hwr_apps' class='extenral_hwr_apps' style='float:right;display:block;width:100%'>
		<span type='module' name='IL-HWR' ifenabled='true'>
		<span role='admin' style='display:inline-block;float:right;'>
			<span type='form' href="IL-HWR-redirect?id=" name="person:id" target='_ILHWR'>
				<center style='max-width:8em'>
					<img text='Interlinked Health Worker Registry' style='margin-top:-3em;max-width:12em;max-height:5em;display-inline' src='file/OpenInfoMan.png'  />
				</center>
				<center style='max-width:8em'>
					Interlinked Health Worker Registry
				</center>
			</span>
		</span>
		</span>
		<span type='module' name='mHero' ifenabled='true'>
	<span role='admin' style='display:inline-block;float:right;'>
		<span type='form' href="mHero_person_workflow?id=" name="person:id" target='_mHero'>
			<center>
				<img text='mHero' style='width:12em;max-height:2em;' src='file/mHero.png'  />
			</center>
			<center>
				mHero
			</center>
		</span>
		</span>
		</span>
	</div>

	<div class="recordsData">
		<h3><a name="jump_individual">Individual Information</a></h3>
		<P class="editRecordsData" id="individual_links">
			<a href="" class="hide" title="Hide" onclick="return hideDiv('individual', this );">Hide</a>
			<span type='module' name='PersonID' enabled='true'>
			<span task="person_can_edit_child_form_person_id" type="form" name="person:id" href="person_id?parent=" >Add Identification</span>
			</span>
			<span task="person_can_edit_child_form_demographic" type="form" name="person:id" href="demographic?parent=" ifset="!demographic:id">Add Demographic Information</span>
			<span type='module' name='PersonPassportPhoto' enabled='true'>
			<span task="person_can_edit_child_form_person_photo_passport" type="form" name="person:id" href="person_photo_passport?parent=" ifset="!person_photo_passport:id">Add Passport Photo</span>
			</span>
			<span type='module' name='PrintedForms' ifenabled='true'>
			<span task='printed_forms_can_access'>
				<span type='module' if="PrintedForms->hasValidForms('person')">
		<span type='form' href="PrintedForms/menu?id=" name="person:id">Standardized Forms</span>
			</span>
			</span>
			</span>

			<span type='module' name='ihris-qualify-NepalParentInfoQualify' ifenabled='true'>
				<span task="person_can_edit_child_form_person_parent_info" type="form" name="person:id" href="person_parent_info?parent=" ifset="!person_parent_info:id">Add Parent Information</span>
			</span>

		</p>

		<div id="individual">
			<div class="editRecord">
				<p>Edit This Information</p>
				<ul>
					<li task="person_can_edit"><span type="form" name="person:id" href="person?id=">Update this Information</span></li>
					<li><span type="form" name="person:id" parent="true" href="field_history?field=surname,firstname,othername&amp;template=fullname&amp;type=person&amp;id=">View Name History</span></li>
				</ul>
			</div>
			<!-- editRecord -->

			<div class="dataTable">
				<table border="0" cellpadding="0" cellspacing="0">
					<tr>
						<th colspan="2">Personal Information</th>
					</tr>
					<tr id="list_fields">
						<td>
							<span type="form" name="person:uuid" showhead="default"></span>
							<span type="form" name="person:firstname" showhead="default"></span>
							<span type="form" name="person:middle_name" showhead="default"></span>
							<span type="form" name="person:surname" showhead="default"></span>
							<span type="form" name="person:first_name_np" showhead="default"></span>
							<span type="form" name="person:middle_name_np" showhead="default"></span>
							<span type="form" name="person:last_name_np" showhead="default"></span>
						</td>
						<td>
							<span type="form" name="person:surname_ignore" ifset="surname_ignore"></span>
							<span type="form" name="person:maiden_name" showhead="default"></span>

							<span type="form" name="person:othername" showhead="default"></span>
							<span type="form" name="person:othername_2" showhead="default"></span>
							<span type="form" name="person:othername_3" showhead="default"></span>

						</td>
					</tr>
					<tr>
						<th colspan="2">Permanent Address</th>
					</tr>
					<tr>
						<td>
							<span type="form" name="person:residence" showhead="location"></span>
							<span type="form" name="person:nationality" showhead="nationality_header"></span>
							<span type="form" name="person:nationality_secondary" showhead="nationality_header"></span>
						</td>
						<td>
							<span type="form" name="person:ward_number" showhead="location"></span>
							<span type="form" name="person:street_name" showhead="location"></span>
							<span type="form" name="person:house_number" showhead="location"></span>
						</td>
					</tr>


					<tr>
						<th colspan="2">Temporary Address</th>
					</tr>
					<tr>
						<td>
							<span type="form" name="person:temp_address" showhead="default"></span>
							<span type="form" name="person:temp_address_ward" showhead="default"></span>
						</td>
						<td>
							<span type="form" name="person:temp_address_street" showhead="default"></span>
							<span type="form" name="person:temp_address_house" showhead="default"></span>
						</td>
					</tr>
					<tr class="submitCell">
						<td colspan="2">
							<div id="button" />
						</td>
					</tr>
				</table>

			</div>
			<!-- dataTable -->
			<div id="person_parent_info" class='recordsData' task='person_can_view_child_form_person_parent_info' />

			<div id="person_photo_passport"></div>

			<div id="person_id"></div>

			<div id="demographic"></div>

			<div id="education"></div>



		</div>
		<!-- individual -->

		<br style="clear: both;" />
	</div>
	<!-- recordsData -->

	<span name='PersonContact' type='moduled' ifenabled='true'>
		<div class="recordsData">
			<h3><a name="jump_contact">Contact Information</a></h3>
			<p class="editRecordsData" id="contact_links"><a href="" class="hide" title="Hide" onclick="return hideDiv('contact', this );">Hide</a>
			</p>
			
				<div id="contact">
						<div id="person_contact_work"></div> <!-- work contact -->
						<div id="person_contact_personal"></div> <!-- personal contact -->
						<div id="person_contact_emergency"></div> <!-- emergency contact -->
						<div id="person_contact_other"></div> <!-- other contact -->
				</div> <!-- contact -->
			<br style="clear: both;" />
		</div> <!-- recordsData -->
	</span>



	<span type='module' name='nextOfKin' ifenabled='true'>
		<div class="recordsData" task='person_can_view_child_form_nextofkin'>
			<h3><a name="jump_nextofkin">Next of Kin Information</a></h3>
			<p class="editRecordsData">
				<a href="" class="hide" title="Hide" onclick="return hideDiv('nextofkin', this );">Hide</a>
				<span task='person_can_edit_child_form_nextofkin' type="form" name="person:id" href="nextofkin?parent=" >Add Next of Kin</span>
	</p>
	<div id="nextofkin"></div>
	<br style="clear: both;" />
</div>
</span>


<div class="recordsData">
	<h3><a name="jump_training">Registration/License Detail</a></h3>
	<p class="editRecordsData" id="training_links"><a href="" class="hide" title="Hide" onclick="return hideDiv('training', this );">Hide</a>
		<span role='records' type="form" name="person:id" href="training?parent=">Add Training/Exam/Registration</span>
	</p>

	<div id="training"></div>
	<!-- training -->
	<br style="clear: both;" />
</div>
<!-- recordsData -->


<span type='module' name='ihris-qualify-PersonTraining' ifenabled='true'>
			 <div class="recordsData">
			 <h3><a name="jump_person_training">Continuing Education</a></h3>
			 <p class="editRecordsData"><a href="" class="hide" title="Hide" onclick="return hideDiv('person_training', this );">Hide</a>
					 <span task='person_can_edit_child_form_person_training' type="form" name="person:id" href="person_training?parent=" >Add Continuing Education</span>
</p>
<div id="person_training"></div>
<!-- record_verify -->
<br style="clear: both;" />
</div>
<!-- recordsData -->
</span>


<!--new for documents info -->
<span type='module' name='PersonArchivedScan' ifenabled='true'>
	<div class="recordsData">
		<h3><a name="jump_person_archive_scan">Documents History</a></h3>
		<p class="editRecordsData">
			<a href="" class="hide" title="Hide" onclick="return hideDiv('person_archive_scan', this );">Hide</a>
			<span task='person_can_edit_child_form_person_archive_scan' type="form" name="person:id" href="person_archive_scan?parent=" >Add Document</span>
		</p>
		<div id="person_archive_scan"></div>
		<br style="clear: both;" />
	</div>
</span>
<!-- recordsData -->

<!--new for training info -->
<span type='module' name='ihris-qualify-NepalTrainingQualify' ifenabled='true'>
	<div class="recordsData">
		<h3><a name="jump_nepal_training">Training History</a></h3>
		<p class="editRecordsData">
			<a href="" class="hide" title="Hide" onclick="return hideDiv('nepal_training', this );">Hide</a>
			<span task='person_can_edit_child_form_nepal_training' type="form" name="person:id" href="nepal_training?parent=" >Add Training</span>
		</p>
		<div id="nepal_training"></div>
		<br style="clear: both;" />
	</div>
</span>
<!-- recordsData -->

<!--new for referred by info -->

	<div class="recordsData">
		<h3><a name="jump_nepal_referred_by">Reffered By History</a></h3>
		<p class="editRecordsData">
			<a href="" class="hide" title="Hide" onclick="return hideDiv('nepal_referred_by', this );">Hide</a>
			<span task='person_can_edit_child_form_nepal_referred_by' type="form" name="person:id" href="nepal_referred_by?parent=" >Add Referred by</span>
		</p>
		<div id="nepal_referred_by"></div>
		<br style="clear: both;" />
	</div>

<!-- recordsData -->


<!--new for education -->
<span type='module' name='NepalPersonEducation' ifenabled='true'>
	<div class="recordsData">
		<h3><a name="jump_person_education">Education History</a></h3>
		<p class="editRecordsData">
			<a href="" class="hide" title="Hide" onclick="return hideDiv('person_education', this );">Hide</a>
			<span task='person_can_edit_child_form_person_education' type="form" name="person:id" href="education?parent=" >Add Education</span>
		</p>
		<div id="person_education"></div>
		<br style="clear: both;" />
	</div>
</span>
<!-- recordsData -->

<!--new for education -->
<span type='module' name='NepalEmploymentSummary' ifenabled='true'>
			 <div class="recordsData">
			 <h3><a name="jump_person_employment_summary">Employment Summary</a></h3>
			 <p class="editRecordsData"><a href="" class="hide" title="Hide" onclick="return hideDiv('person_employment_summary', this );">Hide</a>
					 <span task='person_can_edit_child_form_person_employment_summary' type="form" name="person:id" href="person_employment_summary?parent=" >Add Summary</span>
</p>
<div id="person_employment_summary"></div>
<!-- record_verify -->
<br style="clear: both;" />
</div>
<!-- recordsData -->
</span>

<!--new for education -->
<!-- <span type='module'>
	<div class="recordsData">
		<h3><a name="jump_person_education">Education Summary</a></h3>
		<p class="editRecordsData"><a href="" class="hide" title="Hide" onclick="return hideDiv('person_employment_summary', this );">Hide</a>
			<span task='person_can_edit_child_form_education' type="form" name="person:id" href="education?parent=" >Add Education</span>
</p>
<div id="person_education"></div>
<br style="clear: both;" />
</div>
</span> -->
<!-- recordsData -->
<!--new for referred info -->
<span type='module' name='ihris-qualify-NepalPersonReferredBy' ifenabled='true'>
	<div class="recordsData">
		<h3><a name="jump_person_referred_by">Person Referred By</a></h3>
		<p class="editRecordsData"><a href="" class="hide" title="Hide" onclick="return hideDiv('person_referred_by', this );">Hide</a>
			<span task='person_can_edit_child_form_person_referred_by' type="form" name="person:id" href="person_referred_by?parent=" >Add Referred By</span>
</p>
<div id="person_referred_by"></div>
<!-- record_verify -->
<br style="clear: both;" />
</div>
<!-- recordsData -->
</span>

<div class="recordsData">
	<h3><a name="jump_deployment">Deployment Information</a></h3>
	<p class="editRecordsData"><a href="" class="hide" title="Hide" onclick="return hideDiv('deployment', this );">Hide</a>
		<span role='records' type="form" name="person:id" href="deployment?parent=">Add Deployment</span>
		<span type="form" name="person:id" href="history?form=deployment&amp;id=">View Deployment History</span>
	</p>

	<div id="deployment"></div>
	<!-- deployment -->
	<br style="clear: both;" />
</div>
<!-- recordsData -->

<div class="recordsData">
	<h3><a name="jump_out_migration">Out Migration Information</a></h3>
	<p class="editRecordsData"><a href="" class="hide" title="Hide" onclick="return hideDiv('out_migration', this );">Hide</a>
		<span role='records' type="form" name="person:id" href="out_migration?parent=">Add Out Migration</span>
	</p>

	<div id="out_migration"></div>
	<!-- out_migration -->
	<br style="clear: both;" />
</div>
<!-- recordsData -->

<span type='module' name='PersonNotes' ifenabled='true'>
	<div class="recordsData">
	<h3><a name="jump_notes">Notes</a></h3>
	<p class="editRecordsData"><a href="" class="hide" title="Hide" onclick="return hideDiv('notes', this );">Hide</a>
			<span role='records' type="form" name="person:id" href="notes?parent=" >Add Note</span>
</p>

<div id="notes"></div>
<br style="clear: both;" />
</div>
<!--  recordsData -->
</span>

<span type='module' name='RecordVerify' ifenabled='true'>
			 <div class="recordsData">
			 <h3><a name="jump_record_verify">Record Verification</a></h3>
			 <p class="editRecordsData"><a href="" class="hide" title="Hide" onclick="return hideDiv('record_verify', this );">Hide</a>
							 <span role='records' type="form" name="person:id" href="record_verify?parent=" >Add Verification</span>
<span type="form" name="person:id" href="history?form=record_verify&amp;id=">View Verification History</span>
</p>

<div id="record_verify"></div>
<!-- record_verify -->
<br style="clear: both;" />
</div>
<!-- recordsData -->
</span>

<span type='module' name='SelfService' ifenabled='true'>
		<div class="recordsData" task='person_can_view_child_form_user_map' >
			<h3>
				<a name="jump_self_service">Self Service</a>
			</h3>
			<p class="editRecordsData">
				<a href="" class="hide" title="Hide" onclick="return hideDiv('user_map', this );">Hide</a>
	<span type="form" name="person:id" href="SelfService/userAccount?parent=" ifset="!user_map:id">Assign User Account</span>
</p>
<div id="user_map"></div>
<br style="clear: both;" />
</div>
<!--  recordsData -->
</span>
<!--<a href="construction">Print</a>-->
</div>
