<div id="siteContent">
    <h1>View Training: <span type="form" name="training:cadre" /> - <span type="form" name="person:surname" />, <span type="form"
            name="person:firstname" /></h1>
    <p><span type="form" name="person:id" href="view?id=">Return to Main Record</span></p>

    <div class="recordsData">
        <h3><a name="jump_training">Training/Study and Exam Information</a></h3>
        <p class="editRecordsData" id="training_links"><a href="" class="hide" title="Hide" onclick="return hideDiv('training', this );">Hide</a>
        </p>

        <div id="training">
            <div class="editRecord">
                <p>Edit This Information</p>
                <ul>
                    <li role='manager'><span type="form" name="training:id" href="training?id=" parent="true">Correct This Information</span></li>
                    <li role='records'><span type="form" ifset="!training:graduation" name="training:id" href="graduate?id=" parent="true">Set Graduation Date</span></li>
                </ul>
            </div>
            <!-- editRecord -->

            <div class="dataTable">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <th colspan="2">Training/Study & Index Information</th>
                    </tr>
                    <span type="form" name="training:index_num" showhead="default"></span>
                    <span type="form" name="training:intake_date" showhead="default" class="even"></span>
                    <span type="form" name="training:graduation" showhead="default"></span>

                    <span type="form" ifset="training:trained_outside" ifvalue="1" name="training:out_country" showhead="default" class="even"></span>
                    <span type="form" ifset="training:trained_outside" ifvalue="1" name="training:out_institution" showhead="default"></span>

                    <span type="form" ifset="training:trained_outside" ifvalue="!1" name="training:training_institution" showhead="default" class="even"></span>

                </table>
            </div>
            <!-- dataTable -->

            <div id="training_disrupt"></div>

            <div class="editRecord">
                <p>Edit This Information</p>
                <ul>
                    <li role='records'><span type="form" ifset="exam:id" name="exam:id" href="exam?id=" parent="true">Update this Information</span></li>
                </ul>
            </div>
            <!-- editRecord -->

            <div class="dataTable">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <th colspan="2">Exam Information</th>
                    </tr>
                    <tbody id="exam">
                    </tbody>
                </table>
            </div>
            <!-- dataTable -->

        </div>
        <!-- training -->
        <br style="clear: both;" />
    </div>
    <!-- recordsData -->

    <div class="recordsData">
        <h3><a name="jump_registration">Registration Information</a></h3>
        <p class="editRecordsData" id="registration_links"><a href="" class="hide" title="Hide" onclick="return hideDiv('registration', this );">Hide</a>
        </p>

        <div id="registration"></div>
        <!-- contact -->
        <br style="clear: both;" />
    </div>
    <!-- recordsData -->

    <div class="recordsData">
        <h3><a name="jump_license">License Information</a></h3>
        <p class="editRecordsData" id="license_links"><a href="" class="hide" title="Hide" onclick="return hideDiv('license', this );">Hide</a>
        </p>

        <div id="license"></div>
        <br style="clear: both;" />
    </div>
    <!--  recordsData -->

    <!-- <div class="recordsData">
        <h3><a name="jump_education">Continuing Education</a></h3>
        <p class="editRecordsData"><a href="" class="hide" title="Hide" onclick="return hideDiv('education', this );">Hide</a>
            <span role='registration' type="form" ifset="license:id" name="training:id" href="continuing_education?parent=">Add Continuing Education</span>
        </p>
        <div id="continuing_education"></div>
        <br style="clear: both;" />
    </div> -->
    <!--  recordsData -->

    <!-- <div class="recordsData">
        <h3><a name="jump_ppractice">Private Practice License Information</a></h3>
        <p class="editRecordsData"><a href="" class="hide" title="Hide" onclick="return hideDiv('private_practice', this );">Hide</a>
            <span role='registration' type="form" ifset="license:id" name="training:id" href="private_practice?parent=">Add Private Practice License</span>
        </p>

        <div id="private_practice"></div>
        <br style="clear: both;" />
    </div> -->
    <!--  recordsData -->

    <div class="recordsData">
        <h3><a name="jump_disciplinary">Disciplinary Notice</a></h3>
        <p class="editRecordsData" id="disciplinary_links"><a href="" class="hide" title="Hide" onclick="return hideDiv('disciplinary', this );">Hide</a>
        </p>

        <div id="disciplinary_action"></div>
        <br style="clear: both;" />
    </div>
    <!--  recordsData -->


    <!--<a href="construction">Print</a>-->
</div>