<div id="siteContent">
    <h1 class="header">Add/Update Person </h1>
    <div id="error" />
    <form method="post" action="person">
        <span type="form" name="person:id"></span>
        <div id="form">

            <table class="multiFormTable" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th colspan="2">Personal Information</th>
                </tr>
                <tr id="list_fields">
                    <td>
                         <span type="form" name="person:uuid" showhead="default"></span> 
                        <span type="form" name="person:firstname" showhead="default"></span>
                        <span type="form" name="person:middle_name" showhead="default"></span>
                        <span type="form" name="person:surname" showhead="default"></span>
                        <span type="form" name="person:first_name_np" showhead="default"></span>
                        <span type="form" name="person:middle_name_np" showhead="default"></span>
                        <span type="form" name="person:last_name_np" showhead="default"></span>
                    </td>
                    <td>
                        <span type="form" name="person:surname_ignore" ifset="surname_ignore"></span>
                        <span type="form" name="person:maiden_name" showhead="default"></span>

                        <span type="form" name="person:othername" showhead="default"></span>
                        <span type="form" name="person:othername_2" showhead="default"></span>
                        <span type="form" name="person:othername_3" showhead="default"></span>

                    </td>
                </tr>
                <tr>
                    <th colspan="2">Permanent Address</th>
                </tr>
                <tr>
                    <td>
                        <span type="form" name="person:residence" showhead="location"></span>
                        <span type="form" name="person:nationality" showhead="nationality_header"></span>
                        <span type="form" name="person:nationality_secondary" showhead="nationality_header"></span>
                    </td>
                    <td>
                        <span type="form" name="person:ward_number" showhead="location"></span>
                        <span type="form" name="person:street_name" showhead="location"></span>
                        <span type="form" name="person:house_number" showhead="location"></span>
                    </td>
                </tr>


                <tr>
                    <th colspan="2">Temporary Address</th>
                </tr>
                <tr>
                    <td>
                        <span type="form" name="person:temp_address" showhead="default"></span>
                        <span type="form" name="person:temp_address_ward" showhead="default"></span>
                    </td>
                    <td>
                        <span type="form" name="person:temp_address_street" showhead="default"></span>
                        <span type="form" name="person:temp_address_house" showhead="default"></span>
                    </td>
                </tr>
                <tr class="submitCell">
                    <td colspan="2">
                        <div id="button" />
                    </td>
                </tr>
            </table>

        </div>
    </form>
</div>
