<div task='person_can_view_child_form_education'>
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
            <li task='person_can_edit_child_form_education'><span type="form" name="education:id" href="education?id=" parent="true">Update this Information</span></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
		    <th colspan="2">Institution Information</th>
		</tr>
		<span type="form" name="education:country" showhead="default" class="even"></span>
		<span type="form" name="education:institution" showhead="default"></span>
		<span type="form" name="education:location" showhead="default"></span>
		<span type="form" name="education:country_other" showhead="default" class="even"></span>
		<!-- <span type="form" name="education:year" showhead="default"></span> -->
		<tr>
		    <th>Degree Information</th>
		</tr>
		<span type="form" name="education:degree" showhead="default"></span>
		<span type="form" name="education:started_date" showhead="default" class="even"></span>
		<span type="form" name="education:completed_date" showhead="default"></span>
		<span type="form" name="education:major" showhead="default" class="even"></span>
		<span type="form" name="education:minor" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
</div>
